body{
  background-color: rgb(250, 249, 249);
  color: rgb(86, 57, 216);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:50px
}


h1{
  color: blueviolet;
  .tangerine-regular {
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
}

.tangerine-bold {
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
}

}
}
p{
  text-align: justify
}
img{
  margin-top: 20px;
  max-width: 80%;
   }
a{
  text-decoration: none;
  color: rgb(189, 27, 27);
  text-align: center;
}
a:hover{
  color: rgb(1, 1, 8);
}
body.modo_escuro {
  background-color: black;
  color: rgba(26, 136, 240, 0.856);
}


button {
  border: 2px solid rgb(111, 173, 111);
  border-radius: 20px;
  width: 80px;
  position: fixed;
  right: 10px;
  top: 50px
}