body{
  background-color: rgba(250, 248, 248, 0.959);
  color: rgb(216, 57, 123);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:50px
}


h1{
  color: rgb(158, 13, 122);
  .tangerine-regular {
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
}

.tangerine-bold {
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
}

}
}
p{
  text-align: justify
}
img{
  margin-top: 20px;
  max-width: 80%;
   }
a{
  text-decoration: none;
  color: rgb(38, 27, 189);
  text-align: center;
}
a:hover{
  color: rgb(1, 1, 8);
}
body.modo_escuro {
  background-color: black;
  color: rgba(223, 49, 156, 0.856);
}


button {
  border: 2px solid rgb(111, 173, 111);
  border-radius: 20px;
  width: 80px;
  position: fixed;
  right: 10px;
  top: 50px
}